<section id="projects" class="relative w-full h-full flex flex-col">
  <h2 class="text-5xl font-bold">Projects</h2>

  <ul class="relative w-full grid grid-cols-1 md:grid-cols-2 gap-4">
    <li class="w-full h-52 border-b border-gray-300 cursor-pointer">
      <div class="w-full h-full flex items-center justify-center relative z-0 project-img">
        <p class="text-gray-100 relative z-0 text-2xl font-semibold">Pokedex</p>
      </div>
    </li>
    <li class="w-full h-52 border-b border-gray-300 cursor-pointer">
      <div class="w-full h-full flex items-center justify-center relative z-0 project-img">
        <p class="text-gray-100 relative z-0 text-2xl font-semibold">Photography Portfolio</p>
      </div>
    </li>
    <li class="w-full h-52 border-b border-gray-300 cursor-pointer">
      <div class="w-full h-full flex items-center justify-center relative z-0 project-img">
        <p class="text-gray-100 relative z-0 text-2xl font-semibold">Pikasso</p>
      </div>
    </li>
    <li class="w-full h-52 border-b border-gray-300 cursor-pointer">
      <div class="w-full h-full flex items-center justify-center relative z-0 project-img">
        <p class="text-gray-100 relative z-0 text-2xl font-semibold">Pharos Market</p>
      </div>
    </li>
  </ul>
</section>

<script>
  const projects = document.querySelectorAll(".project-img");
  const images = [
    "https://images.unsplash.com/vector-1743883969392-ed6dc7838eef?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    "https://images.unsplash.com/vector-1743883969392-ed6dc7838eef?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    "https://images.unsplash.com/vector-1743883969392-ed6dc7838eef?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    "https://images.unsplash.com/vector-1743883969392-ed6dc7838eef?q=80&w=2960&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  ];

  projects.forEach((project, index) => {
    project.addEventListener("mouseover", () => {
      const image = document.createElement("img");
      image.src = images[index];
      image.alt = `Project Image ${index + 1}`;
      image.className = "image-hover absolute w-48 h-48 object-cover opacity-50 z-10 pointer-events-none transform -translate-x-[50%] -translate-y-[50%]";
      image.style.zIndex = "10";
      project.appendChild(image);
    });
  });

  projects.forEach((project) => {
    project.addEventListener("mouseout", () => {
      const image = project.querySelector("img");
      if (image) {
        project.removeChild(image);
      }
    });
  });

  projects.forEach((project) => {
    project.addEventListener("mousemove", (event) => {
      const mouseEvent = event as MouseEvent;
      const image = project.querySelector("img.image-hover");
      if (image) {
        const imgElement = image as HTMLImageElement;
        imgElement.style.left = `${mouseEvent.clientX - project.getBoundingClientRect().left - 24}px`;
        imgElement.style.top = `${mouseEvent.clientY - project.getBoundingClientRect().top - 24}px`;
      }
    });
  });
</script>
