<footer id="footer" class="w-full h-48 p-5">
    <section class="w-full flex flex-col items-center justify-center gap-4">
        <p class="text-center text-sm text-gray-400">
            Made with love & looking forward you check my projects <br />
            by Christian Marín. Copyright © 2025.
        </p>
        <nav class="flex gap-4 w-fit justify-center items-center">
            <a href="/" class="md:text-base text-sm hover:underline underline-offset-2">Home</a>
            <a href="mailto:chrismarin0607@gmail.com?Subject=Lets%20build%20something%20cool" class="md:text-base text-sm hover:underline underline-offset-2">Contact</a>
        </nav>
    </section>
</footer>